.handle {
	/* 1. 强制覆盖库默认注入的内联样式 flex: 0 0 auto */
	flex: 0 0 1.5em !important;
	position: relative;
	outline: none;
	--background-color: #efefef;
}

.handle:hover {
	--background-color: #dbdbdb;
}

.handle[data-separator="active"] {
	--background-color: #f5f5f5;
}

.handle > div {
	position: absolute;
	top: 0.25em !important;
	bottom: 0.25em !important;
	left: 0.25em !important;
	right: 0.25em !important;
	background-color: var(--background-color);
	border: 1px solid #0000000f;
	border-radius: 4px;
	transition: background-color 0.2s linear;
}

.handle[aria-orientation="horizontal"] > div {
	top: 0;
	bottom: 0;
}

.handle[aria-orientation="vertical"] > div {
	left: 0;
	right: 0;
}

.handle svg {
	width: 1em;
	height: 1em;
	position: absolute;
	left: calc(50% - 0.5rem);
	top: calc(50% - 0.5rem);
}

.handle[aria-orientation="horizontal"] svg {
	transform: rotate(90deg);
}
